html, body{
    height: 100%;
    width: 100%;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,0.7); 
}
.disable-link {
    pointer-events: none;
    cursor: default;
    color: lightgray !important;
    border: 1px solid lightgray !important;
    box-shadow: none !important;
 }
.slimScrollDiv{
    background-color: #fff;
}
.sidebar-menu>li.header{
    background: #fff !important;
    height: 30px !important;
}
.text-bts{
    font-size: 18px;
}
.btn-bts-login{ border:1px solid #0059ff; width: 100%; color: #0059ff; box-shadow: inset 0 0 0 0 #0059ff;}
.btn-bts-login:hover{
    box-shadow: inset 0 100px 0 0 #0059ff;
    color: #fff;
}
.title{
    font-size: 25px;
    line-height: 40px;
    text-decoration: none;
    color: #0059ff;
}
.login-box{
    padding: 20px;
}
.checkbox input[type=checkbox]{
    margin-left: 0 !important;
}
.icheck{
    padding-left: 10px;
}
.wrapper{
    position: initial;
}
.main-footer{
    padding-bottom: 35px;
}
.left-sidebar-header{
    /*background-color: #ffcd7b !important;*/
    src: url("{{asset('adminlte')}}/bootstrap/fonts/kaushanScript-Regular.ttf");
    background-color: #f9fafc !important;
    /* border-bottom: 3px solid #0059ff !important; */
    font-family: 'Kaushan Script', cursive !important;
    text-decoration: none;
    color: #0059ff !important;
    font-size: 26px !important;
}

.btn-function{
    display: inline-block;
    background-color: transparent;
    margin-left: 2px;
    margin-right: 2px;
    -webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
    border-radius: 0;
}
.btn-new{background-color: #0059ff; color: #fff; font-weight: bold;}
.btna-deactivate{background-color: #f74242; color: #fff; font-weight: bold;} .btna-deactivate:hover{background-color: #d40000; color: #fff;}
.btna-activate{background-color: #21dd7b; color: #fff; font-weight: bold;} .btna-activate:hover{background-color: #21dd7b; color: #fff;}

.btn-restore{ border:1px solid #0059ff; width: 100%; color: #0059ff; box-shadow: inset 0 0 0 0 #0059ff; }
.btn-edit{ border:1px solid #0059ff; width: 100%; color: #0059ff; box-shadow: inset 0 0 0 0 #0059ff;}
.btn-activity{ border:1px solid #000; width: 30%; color: #000; box-shadow: inset 0 0 0 0 #000;}
.btn-cancel{width: 100%}

.btn-new:focus{color: #fff !important;}

.btn-edit:hover, .btn-restore:hover{
    box-shadow: inset 0 100px 0 0 #0059ff;
    color: #fff;
}
.btn-activity:hover{
    box-shadow: inset 0 100px 0 0 #000;
    color: #fff;
}
.btn-new:hover{
    background-color: #0047cb;
    color: #fff;
}

.dataTables_length select{
    margin: 0 10px;
}
.pagination > .active > a{
    background-color: #0059ff;
    border-color: #fff;
}
.box{border-top: none;}
.text-right{
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}
.form-control-pad{
    margin: 5px;
}
.form-group-pad{
    padding-left: 10px;
    padding-right: 10px;
}
.form-group-pad-body{
    padding-left: 50px;
    padding-right: 50px;
}
button.close{padding: 5px !important;}
.date-pad{
    margin-left: 5px;
}
.dday, .dyear, .editcremationday, .editcremationyear, .deathday, .deathyear, .newcremationday, .newcremationyear, .csday, .csyear, .newcsday, .newcsyear, .cscaskethour, .cscasketmin, .cscasketampm{
    width: 95px;
    padding-right: 0px;
    display: inline-block;
}
.dmonth, .editcremationmonth, .deathmonth, .newcremationmonth, .csmonth, .newcsmonth{
    width: 120px;
    padding-right: 0px;
    display: inline-block;
}
.inline-block{
    display: inline-block;
}

@media only screen and (max-width: 1144px){
    .btn-view, .btn-update, .btn-archive, .btn-archive-disabled{width: 100%;}
}
.error{
    border: 2px solid red;
}
/*---DECEASED.SHOW*/
.table{
    margin-top: 20px;
}
.deceased-img-col{
    text-align: center !important;
}
.deceased-name{
    margin: 20px 5px;
}
.deceased-info-col{
    padding-left: 50px;
}
.deceased-img{
    height: 250px;
    width: 250px;
    /*border: 3px solid #e7b363;*/
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.schedule-box{
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19), 0 2px 5px 0 rgba(0, 0, 0, 0.19);*/
    border-top: 3px solid #0059ff;
}
.box{
    background-color: #f9fafc;
}
.box-primary{
    border-top: 3px solid #0059ff !important;
}
.nav-tabs-custom>.nav-tabs>li.active{
    border-top-color: #0059ff !important;
    font-weight: bold;
}
.user-header{
    background-color: #0059ff !important;
    height: 140px !important;
}
.dropdown-menu{
    border-color: #0059ff;
}
.control-sidebar-bg, .control-sidebar{
    right: -300px;
    width: 300px !important;
}
.list-group-item{
    border: none;
}
.list-archive{
    border:1px solid #0059ff; color: #0059ff; box-shadow: inset 0 0 0 0 #0059ff;
    margin: 5px;
}
.list-archive:hover{
    box-shadow: inset 0 100px 0 0 #0059ff;
    color: #fff;
}
.badge{
    background-color: #0059ff;
    color: #fff;
}
.nav > .list-archive > a:hover{
    background: none;
    color: #fff;
}


/*DASHBOARD*/
.legend{
    margin-top: 20px;
}
.legend-item{
    margin-left: 5px;
    margin-right: 3px;
    color: #fff;
    padding: 5px;
}
.fc-event{
    padding: 5px !important;
}

/*MEDIA QUERIES*/
@media only screen and (min-width: 992px){
    .container{width: initial !important;}
}
@media only screen and (min-width: 768px){
    .container{width: initial !important;}
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
.sidebar-menu .treeview-menu{
    padding-left: 25px;
}





/*_______________________ADDED STUFF_____________________*/

/* =============================== SIDE NAVIGATIONS FOR PERSONNEL ====================*/
/*.tabStuff{overflow: hidden;}
.tabStuff a{border: none; outline: none; cursor: pointer; transition: 0.3s;}
.tabContentss li:hover{background: #ddd;}
.tabContentss ul{ list-style-type: none; padding: 0px; padding-left: 10px; padding-bottom: 5px;}
.tabContentss{ padding: 6px 12px; -webkit-animation: fadeEffect 1s; animation: fadeEffect 1s;}
@-webkit-keyframes fadeEffect { from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeEffect {from {opacity: 0;} to {opacity: 1;}}*/
/*==========================================================================*/


/*========================================= MODAL FOR CREATING NEW FILES =============================*/

#newFile input[type=text], .textContent, #searchFile input[type=text], #searchFile input[type=text], #newFile select, #searchNamesHere, #searchNamesHeres{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#newFile .textContent{height: 100px;}
#searchFile input[type=text]{width: 130px; float: right; height: 35px;}
#searchFile input[type=text]:focus{width: 200px;}

#searchRECEPIENT input[type=text]{width: 80%; float: left; height: 35px;}
#searchRECEPIENT input[type=text]:focus{width: 100%;}
#searchRECEPIENT{width: 70%; display: inline-block;}
#receiver2{display: inline-block; width:25%; float: right;}

#searchNamesHere, #searchNamesHeres {width: 45%;display: inline-block;}
#dispTable { border-collapse: collapse; width: 100%; border: 1px solid #ddd; font-size: 18px;}
#dispTable th, #dispTable td { text-align: left;padding: 12px;}
#dispTable tr {border-bottom: 1px solid #ddd; }
#dispTable tr.header, #dispTable tr:hover {background-color: #f1f1f1;}

/*============== MESsAGE TABS FOR NORMAL OR URGENT FILES ========*/

div.msgTabscontent { display: none; padding: 6px 12px; -webkit-animation: fadeEffect 1s; animation: fadeEffect 1s;}
div.msgTabs {overflow: hidden; border: 1px solid #ccc; background-color: #f1f1f1;}
div.msgTabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;}
div.msgTabs button:hover {background-color: #ddd;}
div.msgTabs button.active {background-color: #ccc;}
@-webkit-keyframes fadeEffect { from {opacity: 0;} to {opacity: 1;}}
@keyframes fadeEffect {from {opacity: 0;} to {opacity: 1;}}

/*=============================================== END OF CREATING FILE MODAL ==================================================*/


/*========================================= MODAL FOR EDITING OR FORWARDING MESSAGES =========================*/
#spi{color:blue;}
#spi:hover{font-weight: bolder;}
/*======================================================= END OF  MODAL ==================================================*/


/*_______________FOR HIDING STUFF_____________*/
#hideThis, .enters{display: none;}

/*______________FOR HOVERING STUUF AT IMPORTANT STUFF hahahaha______________*/
.stuff {
    position: relative;
    display: inline-block;
}

.hoverstext {
    visibility: hidden;
    width: inherit;
    background-color: #ccc;
    color: #000000;
    text-align: center;
    font-weight: bolder;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

.stuff:hover .hoverstext {
    visibility: visible;
}


/*======================================= FOR HOME PAGES  ==============================*/

.boxer{padding: 10px 10px 10px 70px; padding-left:20%;}
.boxes{
    padding: 0px 5px 5px 5px;
    margin-left:30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width:20%; height: 60px;
    font-size: 18px;
    color:black;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
    border-bottom: 5px solid #000000; border-right:3px solid #000000; border-left: 1px solid #000000; border-top: 1px solid #000000;}
.boxes:hover{
    font-weight: bolder;
    color: #000000;
    border-bottom: 10px solid #000000; border-right:8px solid #000000; border-left: 2px solid #000000; border-top: 2px solid #000000;
    transition: 0.1s;
    background: #ddd;}
.boxes span{font-weight: bolder; color: blue;}
.checkboxes{width:100px;}
    /*------------ SEARCH FORM --------------*/
.searchs input[type="search"] {
margin-top:10px;
padding: 1px 1px 1px 5px;
position: relative; top: 0; left: 0;
width: 178px;
outline: none;
border: 1px solid #CCCCCC;
border-radius: 6px;
-webkit-transition: all .5s;
-moz-transition: all .5s;
transition: all .5s;

}
.searchs input[type="search"]:focus {
background: #FFF;
padding: 1px 1px 1px 5px;
width: 300px;
border: 1px solid #CCCCCC;
  top: 0;
  right: 100%;    
} 

/*====================================== END OF HOME PAGE ============================================*/

/*++++++++++++++++ TRY +++++++++++++++++++++*/

/*======================================== CLICK A FILE STUFF ========================*/
table#tablet tbody tr:hover{background: #ddd; cursor: pointer;}


/*====================== session or alerts or success messages -- FLASH MESSAGES ==========================*/
.alertSession{width:50%;}

